<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Django using Bootstrap</title>
  </head>
  <body class="container">
    <h1>We are actually Designing a form for different purposes</h1>
    <div style="margin-top:100px;">
        <form action='/analyse' method="post">{% csrf_token %}
            <input type="text" name="userid" placeholder="Enter your name" id="name1"><br>
            <input type="checkbox" name="check1"> Remove Punctuation<br>
            <input type="checkbox" name="check2"> Upper Case<br>
            <button type="submit" class="btn btn-primary" name="button">Click</button>
        </form>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  </body>
</html>